{% extends 'base.html' %}

{% load static %}

{% block title %}New primer set{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'primers.list' %}">Primer sets</a></li>
  <li class="breadcrumb-item active">New primer set</li>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post" class="mb-4" novalidate
        onsubmit="return confirm('Are you sure to upload the primer set?')">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Upload primer set</button>
  </form>
{% endblock %}
